
<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>This is home page</h1>
    <p>Welcome to my shop app</p>
  </div>
  <div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm...">
    <select class="form-control product-category">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Nước ngọt</option>
      <option>Bia</option>
      <option>Đồ ăn vặt</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/812264/pexels-photo-812264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="product image" class="product-image" >
        <h3 class="product-name">product 1</h3>
        <p class="product-description">macbook sieu cap vip pro</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$2000</del>$1000</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/812264/pexels-photo-812264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="product image" class="product-image" >
        <h3 class="product-name">product 1</h3>
        <p class="product-description">macbook sieu cap vip pro</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$2000</del>$1000</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/812264/pexels-photo-812264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="product image" class="product-image" >
        <h3 class="product-name">product 1</h3>
        <p class="product-description">macbook sieu cap vip pro</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$2000</del>$1000</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/812264/pexels-photo-812264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="product image" class="product-image" >
        <h3 class="product-name">product 1</h3>
        <p class="product-description">macbook sieu cap vip pro</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$2000</del>$1000</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/812264/pexels-photo-812264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="product image" class="product-image" >
        <h3 class="product-name">product 1</h3>
        <p class="product-description">macbook sieu cap vip pro</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$2000</del>$1000</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
